.container {
  height: 100vw;
  width: 100vh;
  position: fixed;

  display: flex;

  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;

  font-size: 3vw;

  .master {
    height: 100vw;
    width: 100vh;
    .square0 {
      height: 100vw;
      width: 100vh;
      position: absolute;
    }
  }
}
