@mixin blink-animation-delay {
  @for $i from 1 through 17 {
    &:nth-child(17n + #{$i}) {
      animation-delay: -#{random(160) + 20}s;
    }
  }
}

.containerA {
  height: 100%;
  width: 100%;
  position: fixed;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .element {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
  }
}

.container2 {
  height: 100%;
  width: 100%;
  position: fixed;
  background: pink;

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(20, 5vw);
  grid-template-rows: repeat(200, 5vw);

  z-index: -2;

  .square {
    height: 5vw;
    width: 5vw;
  }
}

@keyframes movement {
  to {
    transform: translate(10vw, 5vh);
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes appearance-change {
  to {
    transform: scale(0.7);
  }
}
