.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;

  .left {
    width: 2rem;
    height: auto;
    margin-left: 2rem;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
  }

  .main {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .right {
    font-size: 0.8rem;
    width: 5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
}
