@mixin blink-animation-delay {
  @for $i from 1 through 12 {
    &:nth-child(17n + #{$i}) {
      animation-delay: -#{$i/5}s;
      font-weight: #{$i}* 100;
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(15, 27, 20);

  .square {
    position: absolute;
  }
}
