$color1: black;
$color2: rgb(4, 39, 43);

@mixin blink-animation-delay {
  @for $i from 1 through 10 {
    &:nth-child(40n + #{2 * $i - 1}) {
      animation: breathe-y-plus 1.2s linear forwards;
      // animation-delay: 1.3s;
    }
    &:nth-child(40n + #{2 * $i}) {
      animation: breathe-x-plus 1.2s linear forwards;
      // animation-delay: 1.2s;
    }
    &:nth-child(40n + #{2 * $i + 19}) {
      animation: breathe-x-minus 1.2s linear forwards;
      // animation-delay: 1.4s;
    }
    &:nth-child(40n + #{2 * $i + 20}) {
      animation: breathe-y-minus 1.2s linear forwards;
      // animation-delay: 1.5s;
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  position: fixed;

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
  background: $color1;

  .comp {
    background: $color2;
    @include blink-animation-delay;
    animation-delay: 1s;
  }
}

@keyframes breathe-x-plus {
  from {
    width: 0;
    height: 100px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}

@keyframes breathe-x-minus {
  from {
    margin-left: 100px;
    width: 0;
    height: 100px;
  }
  to {
    margin: 0;
    width: 100px;
    height: 100px;
  }
}

@keyframes breathe-y-minus {
  from {
    margin-top: 0;
    margin-bottom: 100px;
    height: 0;
    width: 100px;
  }
  to {
    margin: 0;
    width: 100px;
    height: 100px;
  }
}

@keyframes breathe-y-plus {
  from {
    margin-top: 100px;
    height: 0;
    width: 100px;
  }
  to {
    margin: 0;
    width: 100px;
    height: 100px;
  }
}
