.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;

  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 0;
  background: black;
  color: white;
  cursor: none;

  .webcam {
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -3;
    background: black;
  }
  .canvas {
    position: absolute;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 9;
  }
}
