@mixin blink-animation-delay {
  @for $i from 1 through 12 {
    &:nth-child(17n + #{$i}) {
      animation-delay: -#{$i/5}s;
      font-weight: #{$i}* 100;
    }
  }
}

.container {
  height: 100%;
  width: 100vw;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  background: hsl(200, 100%, 50%);

  .square {
    position: absolute;
    transition: 2s;
  }
}
