.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.navigatorList {
  width: 100vw;
  margin: 1.5rem 0;

  text-align: center;

  .navigator {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100vw;

    border-top: 1px solid white;
    font-size: 1.2rem;
    padding: 0.5rem 0;

    img {
      position: absolute;
      left: 2rem;
      height: 1.4rem;
      width: auto;
    }

    &:last-child {
      border-bottom: 1px solid white;
    }
  }
}
