.container {
  position: absolute;

  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: white;

  .block {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;

    .comp {
      width: 200px;
      height: 200px;
    }

    .compclicked {
      width: 200px;
      height: 200px;
    }
  }
}
